#referenceImage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
}

/* #referenceImage{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
} */
.batts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px 0;
}

.battsElement{
    text-align: center;
}

.artistSearch{
    display: flex;
    flex-direction: column;
}
#random {
    height: auto;
    width: auto;
    font-size: 16px;
    margin: 15px;
    text-align: right;
}


#title {
    text-align: center;
}
#searchForm{
    text-align: center;
}
#search{
    text-align: center;
}
.img-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100px;
}
.rightfloat{
    width: fit-content;
}

.images-content{
    text-align: center;
}

.result-object{
    display: flex;
    flex-direction: column;
    width: auto;
    border-style: groove;
    border-radius: 6px;
    align-self: flex-start;
}