body{
    background-color: rgb(138, 138, 138);
    color: rgb(40, 42, 40);
    font-family: Arial, Helvetica, sans-serif;
}

a:visited { 
    text-decoration: none; 
    color: rgb(28, 30, 30); 
}

a{
    text-decoration: none; 
    color: rgb(28, 30, 30); 
}

h1{
    text-decoration: none;
    font-size: 45px;

}
/* #referenceImage{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
} */
.batts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px 0;
}
.searchForm{
    width: 300px;
}

.battsElement{
    text-align: center;
}

.artistSearch{
    display: flex;
    flex-direction: column;
}
#random {
    height: auto;
    width: auto;
    font-size: 16px;
    margin: 15px;
    text-align: right;
}


#title {
    text-align: center;
}
#searchForm{
    text-align: center;
}
#search{
    text-align: center;
}
.img-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100px;
}
.rightfloat{
    width: fit-content;
}

.images-content{
    text-align: center;
}

#referenceImage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
}

.result-object{
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: rgb(136, 174, 167);
    border-style:solid;
    border-radius: 6px;
    border-color: rgb(66, 66, 66);
    align-self: flex-start;
    margin: 10px;
}