#referenceImage {
    height: 70vh; 
    object-fit: contain;
    text-align: center;
}
.batts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px 0;
}

.battsElement{
    text-align: center;
}

.artistSearch{
    display: flex;
    flex-direction: column;
}
#random {
    height: auto;
    width: auto;
    font-size: 16px;
    margin: 15px;
    text-align: right;
}


#title {
    text-align: center;
}
#searchForm{
    text-align: center;
}
#search{
    text-align: center;
}